

.dark {
    background-color: #010101;
    color: whitesmoke;

}

.light {
    background-color: lightgoldenrodyellow;
    color: darkblue;
}

.high-contrast {
    background-color: white;
    color: black;
}

